@import "rsuite/dist/rsuite.css";

.proposal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        display: flex;
        padding: .5rem;
        align-items: center;

        button {
            height: 2rem;
            margin: 0 2rem;
        }
    }
}

.waitMessage {
    background-color: lightgray;
    border-radius: 1rem;
    padding: 3rem;
    margin: 1rem auto;
    width: 50vw;
}