@import "rsuite/dist/rsuite.css";

.proposal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        display: flex;
        padding: .5rem;
        align-items: center;

        button {
            height: 2rem;
            margin: 0 2rem;
        }
    }
}

.waitMessage {
    background-color: lightgray;
    border-radius: 1rem;
    padding: 3rem;
    margin: 1rem auto;
    width: 50vw;
    color: black;
    font-size: 1.2rem;
}

.voting {
    font-size: 1.1rem;
    margin: 1rem;

    &__proposal {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        align-items: center;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem;
            padding-left: 1rem;
            background-color: lightgray;
            width: 60%;
            color: black;
            height: 2rem;
            border-radius: 1rem;
        }

        &__button {
            height: 1.6rem;
            border-radius: .8rem;
            width: 80px;
        }

        &__voted {
            height: 1.6rem;
            border-radius: .8rem;
            width: 80px;
            background-color: rgb(53, 130, 253);
        }
    }
}

.addProposal__input {
    height: 2rem;
    border-radius: 1rem;
    border: none;
}

.winningMessage {
    background-color: lightgray;
    margin: 2rem;
    height: 5rem;
    border-radius: 1rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(187, 122, 0);
}