.connectButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.mainTitle {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Creepster', cursive;
}

button {
    background-color: rgb(83, 117, 203);
    color: white;
    font-weight: bold;
}