.adminPage {
    display: flex;
    align-content: center;
    margin: 2rem;
    color: black;
}

.welcome {
    margin: 1rem;
    font-size: 1.2rem;
}

button {
    border-radius: 1rem;
    margin: .25rem;
    height: 2rem;
    color: black;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    width: 50vw;
    background-color: rgb(168, 168, 168);
    border-radius: 1rem;
    padding: 1rem;

    &__switch {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

.voter {
    background-color: rgb(168, 168, 168);
    border-radius: 1rem;
    padding: 1rem;
    width: 50vw;

    &__addVoter {
        margin-bottom: 1rem;
    }

    input {
        height: 2rem;
        border-radius: 1rem;
        border: none;
    }

    &__registered {
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            justify-content: space-around;
            align-items: baseline;

            .tag {
                background-color: white;
                border-radius: .7rem;
                height: 1.4rem;
                padding: 0 .5rem;
                font-weight: bold;
            }

            .tag--hasVoted {
                background-color: green;
                color: white;
            }

            .tag--id {
                background-color: grey;
                color: white;
            }


        }
    }
}